@charset "utf-8";
/* CSS Document */
.title_class{
	color:white;
	width:30%;
	position:absolute;
	font-family:"Times New Roman",Times,serif;;
	text-shadow: 5px -5px black, 4px -4px white;
}

.icon_class{
	float:left;
	}
	
.value_class{
	color:white;
	font-size:1.5em;
	}
	
.header_class{
	color:white;
	font-size:2em;
}
	
.weather_showbox_indoor{
	width:25%;
	position:absolute;
	}
	
.weather_showbox_outdoor{
	width:25%;
	position:absolute;
	}
	
	
.timeshow{
	 position:absolute;
	}
		
img{
	width:50%;
	}