<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.weather.domain.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/TempInMapper.xml"/>
        <mapper resource="mapper/TempOutMapper.xml"/>
        <mapper resource="mapper/HumiInMapper.xml"/>
        <mapper resource="mapper/HumiOutMapper.xml"/>
        <mapper resource="mapper/IlluminationOutMapper.xml"/>
        <mapper resource="mapper/IlluminationInMapper.xml"/>
        <mapper resource="mapper/AirSpeedMapper.xml"/>
        <mapper resource="mapper/AtmoPreMapper.xml"/>
        <mapper resource="mapper/WindDirectionMapper.xml"/>
        <mapper resource="mapper/UltravioletMapper.xml"/>
    </mappers>
</configuration>